{% extends 'base.html' %}
{% load meus_filtros %}
{% block conteudo %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Nome de usuário: </label>
        {{ form_usuario.username | addClass:'form-control'}}
        {{ form_usuario.username.erros }}
    </div>
    <div class="form-group">
        <label>Senha: </label>
        {{ form_usuario.password1 | addClass:'form-control'}}
        {{ form_usuario.password1.erros }}
    </div>
    <div class="form-group">
        <label>Confirme sua senha: </label>
        {{ form_usuario.password2 | addClass:'form-control'}}
        {{ form_usuario.password2.erros }}
    </div>
    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </div>

</form>

{% endblock %}